:root{
    /*criação de variaiveis de cor para facilitar caso seja necessário mudar a cor do projeto e elas são as cores princpais, ou seja, as que são mais utilizadas*/
    --vermelho: #E50914;
    --preto: #141414;
}

/* essa tag do * serve para se referenciar a toda a pagina, e é usado para resetar os padroes pre-estabelecidos, nesse caso, tirando a margin, paddin e ajustando o box-sizing a border-box*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/
body {
    /*exemplo de uso da var --preto*/
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    /*isso possibilitará utilizar o flexbox, que é uma maneira de alinhar os elementos em tela. Por padão a propriedade flex "joga" todos os elementos numa linha, ou seja, um na frente do outro*/
    display: flex;
    /*essa propriedade já é default, ou seja, mesmo que eu não tivesse colocado, ela já seria padrão por conta da propriedade flex*/
    flex-direction: row;;
    align-items: center;
    /*cria um espaço entre as tag filhas do container (h2 e nav)*/
    justify-content: space-between;;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;

}

header nav a {
    /*serve para tirar o sublinhado padrão dos links*/
    text-decoration: none;
    color: #AAA;
    /*para distanciar um pouco um link do outro*/
    margin-right: 10px
}

/*o uso de :hover representa o evento de mouse over, ou seja, quado o mouse passar por cima dos links, a cor sera alterando, dando um efeito de realce*/
header nav a:hover {
    color: #fff;
}

/*Filme Principal*/
.filme-principal {
    font-size:  16px;;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/peaky_blinders.jpg');

    height: 400px;
    /*objetivo de ajustar a img (background) ao tamanho da caixa*/
    background-size: cover;

    /*ajustando os elementos em coluna e centralizando eles na coluna*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*alinhar o elementos do lado esquerdo (inicio) da tela*/
    align-items: flex-start;
}

/*escrever o código de forma mais detalhada não é obrigado, mas ajuda o desenvolvedor*/
.filme-principal .descricao {
    margin-top: 10px;;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size:  40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding:15px 30px;
    margin-right: 12px;
    font-size: 12px;

    cursor: pointer;
    /*muda o tempo e a forma de transição entre uma animação e outra, serve para dar um suavizada/fluidez*/
    transition: .5s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right:  5px;    
}

.container {
    margin-left: 30px;
} 

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes {
    margin-top: 10px;
}